body {
  font-family: "Pretendard";
}
/* 다쓰고 가시성 확인해보고 바꾸기 */
header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  background-color: aliceblue;
  opacity: 0.9;
  z-index: 10;
}

.nav {
  display: flex;
  color: #2a4756;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
}
.menuwrap {
  display: flex;
}

.menu {
  padding: 10px;
  margin: 0px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
}

.menu:hover {
  color: white;
  background-color: #2a4756;
}
