.home {
  margin-top: 80px;
  width: 100vw;
}

.home__img {
  width: 100%;
  height: 80vh;
}
.home__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* #2a4756 #176899 */

.team {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  color: #176899;
}
.team > i {
  color: black;
}

.team__title__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 100px auto;
}
.team__title__maintitle {
  font-size: 50px;
}
.team__title__maintitle::after {
  content: ;
  /* 가운데 구분선만들기 검색 */
}
.team__title__subtitle {
  padding-left: 500px;
  font-size: 25px;
}
.team__infowrap {
  width: 100%;
  height: 100%;
  display: flex;
}
.infowrap--img {
  font-size: 40px;
}
