.work {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  color: #2a4756;
}

.work__header {
  font-size: 50px;
  font-weight: 500;
}
.workspace {
  height: 500px;
  overflow: hidden;
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.work__title {
  margin-bottom: 20px;
  /* font-size: 18px;
  padding: 10px;
  width: 300px;
  border: 1px solid #176899;
  border-radius: 8px; */
}

.work__title--name {
  font-size: 18px;
  padding: 10px;
  width: 300px;
  border: 1px solid #2a4756;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}
.work__title--name:hover {
  color: white;
  border: 1px solid #2a4756;
  background-color: #2a4756;
}

.work__preview > img {
  width: 0px;
  height: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 400px;
  /* transition: all 0.5s; */
}

.ontarget:hover > .work__preview > img {
  width: 600px;
  height: 500px;
  transition: all 0.7s;
}
