.first {
  height: 100vh;
  /* height: calc(-5rem + 100vh); */

  background-image: url(./photo-1512776397924-7fe3eb1d842b.avif);

  /* background-size는 배경때, object-fill은 img태그 쓸 때 */
  background-size: cover;

  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-text {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 65px;
  gap: 25px;
}
span {
  font-family: GMarketSans;
}
.second {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 70px 0px;
}
.second-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 30px;
  font-weight: 600;
  gap: 15px;
}
.last-span {
  padding-top: 30px;
}
.bold {
  color: black;
}
