section {
  height: 100vh;
}

.first {
  height: calc(-5rem + 100vh);

  background-image: url(./photo-1512776397924-7fe3eb1d842b.avif);
  /* background-size는 배경때, object-fill은 img태그 쓸 때 */
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 65px;
  gap: 25px;
}

.second {
  margin-top: 120px;
}
.second_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 40px;
  font-weight: 600;
  gap: 20px;
}
.last-span {
  padding-top: 30px;
}
.bold {
  color: black;
}
