/* maxwidth 1400px  */
/* 내부컨텐츠 maxwidth 1120 */
.body {
  font-family: "GMarketSans";
}

:root {
  h1 {
    font-weight: 600;
    font-size: 44px;
  }
}

/* 짙은 파랑 #002c5f
연한 파랑 #007fa8
더연한파랑 #00aad2

연회색 #f6f3f2
footer {
    font #999999
} */
